<%= form_for(@seek) do |f| %>
  <% if @seek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seek.errors.count, "error") %> prohibited this seek from being saved:</h2>

      <ul>
      <% @seek.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_name %><br>
    <%= f.text_field :patient_name %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br>
    <%= f.number_field :contact_number %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :medical_issue %><br>
    <%= f.text_field :medical_issue %>
  </div>
  <div class="field">
    <%= f.label "Blood Group" %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :hospital %><br>
    <%= f.text_field :hospital %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
