<h1>Listing seeks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Patient name</th>
      <th>Contact number</th>
      <th>Address</th>
      <th>Medical issue</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Hospital</th>
      <th>Hospital address</th>
      <th>Pincode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seeks.each do |seek| %>
      <tr>
        <td><%= seek.user_id %></td>
        <td><%= seek.patient_name %></td>
        <td><%= seek.contact_number %></td>
        <td><%= seek.address %></td>
        <td><%= seek.medical_issue %></td>
        <td><%= seek.latitude %></td>
        <td><%= seek.longitude %></td>
        <td><%= seek.city %></td>
        <td><%= seek.state %></td>
        <td><%= seek.country %></td>
        <td><%= seek.hospital %></td>
        <td><%= seek.hospital_address %></td>
        <td><%= seek.pincode %></td>
        <td><%= link_to 'Show', seek %></td>
        <td><%= link_to 'Edit', edit_seek_path(seek) %></td>
        <td><%= link_to 'Destroy', seek, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seek', new_seek_path %>
