<%# render 'form' %>

<%# link_to 'Back', seeks_path %>

        <%= render 'layouts/navbar' %>


      <h2>New Blood Seek</h2>  
      <hr>
<%= render 'form' %> 


  <script src="../assets/js/jquery-1.10.2.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>


</body>


</html>