        
<!DOCTYPE html>
<html lang="en">
    <head>
              <script type="text/javascript" src="../assets/custom.js"></script>

        <title>Fun with Google Maps | Sickdesigner.com</title>
        <meta charset="utf-8">
        <meta name="description" content="Demo page for http://sickdesigner.com/fun-with-google-maps">
        <link rel="stylesheet" href="http://sickdesigner.com/demo/fun-with-google-maps/css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="../assets/style.css" type="text/css" media="screen">       
      <link href='http://fonts.googleapis.com/css?family=Life+Savers' rel='stylesheet' type='text/css'> 
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>   
            
        <script type="text/javascript" src="js/html5.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>     
    
        <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDl5CEPqEKUgpi3FLY6evlhgedJReK62GE&amp;sensor=true">
        </script>
        <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(<%= @seek.latitude %> , <%= @seek.longitude %>),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("gmap"),
            mapOptions);
  
  var contentString = '<font color="black"><div id="content">'+'<p>Name : <%= @seek.patient_name %>  </p>'+'<p>Address : <%= @seek.address %>  </p>'+'<p>Contact : <%= @seek.contact_number %>  </p>'
      '</font>';
            
  //newmarker(28.5060459, 77.2714055,"magus",contentString);newmarker(28.5460459, 77.2714055,"magus",contentString);//,'image2.png'); 
  
  newmarker(<%= @seek.latitude %> , <%= @seek.longitude %>,"Magus",contentString);
  <% User.all.each do |u| %>
  <% if !u.distance_from(@seek).nil? %>
  <%= "newmarker(" + u.latitude.to_s + "," + u.longitude.to_s  %>,"<font color='black'><p>donor : <%= u.name %> </p></font>","<font color='black'> <p>Donor : <%= u.name %></p><p>Contact : <%= u.phone %></p></font>");
  <% end %>
 <% end %>
 /* function toggleBounce() {
    newmarker(28.5460454, 77.2710000,this.text);
  }*/
  
  function newmarker(x,y,text,contentString){
    var myLatlng = new google.maps.LatLng(x, y);
          var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        draggable:false,
       // animation: google.maps.Animation.DROP,
    //position: parliament,
     title:text
    });
      var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

       google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
    marker.setMap(map);
  }
  /*function newmarker(x,y,text,urll){
    //  var image = 'leaflet/image2.png';
    var image = {
          url: urll,
          size: new google.maps.Size(20, 32),
          origin: new google.maps.Point(0,0),
          anchor: new google.maps.Point(0, 32)
        };
    var myLatlng = new google.maps.LatLng(x, y);
          var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title:text,
    icon: image
    });
    marker.setMap(map);
  }*/
  /*var myLatlng = new google.maps.LatLng(28.5460459, 77.2714055);
        var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"magus"});*/
  }
  
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31695326-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();


        </script>
            </head>
    <body onload="initialize()">
        <div id="gmap"></div>
        <div id="container">
            <span class="number">+</span>
            <span class="switch">ON</span>
            <hgroup>
              <h1> Donate Blood Request  </h1>
               <h2> Blood Group <%= @seek.country %>  </h2></br>
                <h2>Patient name: <%= @seek.patient_name %></h2>
            </hgroup>  
            <p>

<p>
  <strong> Contact number:  </strong>
  <%= @seek.contact_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @seek.address %>
</p>

<p>
  <strong>Medical issue:</strong>
  <%= @seek.medical_issue %>
</p>


<p>
  <strong>Hospital:</strong>
  <%= @seek.hospital %>
</p>
<p id="don">
  <strong>Donators:</strong>
  <% @supporters.each do |s| %>
  <%=  link_to s.name, user_path(s) %>
  <% end %>
</p>

                <br>
                
              <nav>
               <script>
               $("#last").click(function() {
  alert( "Handler for .click() called." );
  $("#don").fadeOut('slow').load('seeks/<%= params[:id] %> #don').fadeIn("slow");
});
               </script>
                <a href="<%= params[:id] %>/donate" class="last" id="last" data-remote="true">Donate Blood</a>
            </nav>
        </div>        
    </body>
</html>
