/* Wrangling HTML5 tags */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* The proper box model */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body,
html{ 
    height: 100%;
    width: 100%; }

body{
    color: #fff;
    font: normal normal 10px/10px 'PT Sans', Helvetica, Arial, Verdana, sans-serif; }

    hgroup{
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        margin: 0 0 2em 0;
        padding: 0 0 2em 0; }

        h1{
            color: #fff;
            font: normal normal 5.1em/1em 'Life Savers', cursive;
            text-shadow: 0 0 10px #f9980b }

        h2{
            color: #f9980b;
            font-size: 1.3em;
            font-weight: normal;
            padding: 3px 0 0 0 }

        h3{
            color: #f9980b;
            font-size: 1.4em;
            padding: 6px 0 0 180px;
            font-weight: normal; }

        a{
            border-radius: 3px;
            color: #fff;
            padding: 2px 4px;
            text-decoration: none; }

            a:hover{ background: #F9980B }

        p{
            font-size: 1.5em;
            line-height: 1.3em;
            margin: 0 0 1em 0; }

            p strong{
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                clear: both;
                color: #72b4b0;
                display: block;
                float: left;
                font-size: 1.2em;
                font-weight: 700;
                margin: 1em 0;
                padding: 0.2em 0;
                text-transform: uppercase;
                width: 100%; }

    nav{
        background: #333;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 2px solid #fff;
        bottom: -30px;
        right: 10%;
        padding: 10px;
        position: absolute; }

        nav a{
            background: rgb(132,206,205);
            background: -moz-linear-gradient(top,  rgba(132,206,205,1) 0%, rgba(114,180,176,1) 21%, rgba(97,151,153,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,206,205,1)), color-stop(21%,rgba(114,180,176,1)), color-stop(100%,rgba(97,151,153,1)));
            background: -webkit-linear-gradient(top,  rgba(132,206,205,1) 0%,rgba(114,180,176,1) 21%,rgba(97,151,153,1) 100%);
            background: -o-linear-gradient(top,  rgba(132,206,205,1) 0%,rgba(114,180,176,1) 21%,rgba(97,151,153,1) 100%);
            background: -ms-linear-gradient(top,  rgba(132,206,205,1) 0%,rgba(114,180,176,1) 21%,rgba(97,151,153,1) 100%);
            background: linear-gradient(to bottom,  rgba(132,206,205,1) 0%,rgba(114,180,176,1) 21%,rgba(97,151,153,1) 100%);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 2px solid #fff;
            -webkit-box-shadow: 0 2px 2px #000;
            -moz-box-shadow: 0 2px 2px #000;
            box-shadow: 0 2px 2px #000;
            color: #fff;
            display: block;
            float: right;
            font-size: 1.4em;
            padding: 10px 20px;
            text-decoration: none;
            text-shadow: 0 1px 2px #000; }

            nav a:hover{ background: #F9980B; }

        nav a.last{ margin-right: 10px }

        .number{
            border: 4px solid #fff;
            border-radius: 50%;
            color: #fff;    
            font-size: 7em;
            font-weight: 700;
            height: 92px;
            line-height: 92px;
            position: absolute;
            right: 40px;
            text-align: center;
            text-shadow: 0 0 10px #f9980b;
            top: -50px;
            width: 92px;
            z-index: 2 }

        #container:before{
            background: rgba(0, 0, 0, 0.8);
            border-radius: 46px 46px 0 0;
            content: '';
            display: block;
            height: 46px;
            position: absolute;
            right: 40px;
            top: -46px;
            width: 92px;
            z-index: 1; }

            #container.hidesudo:before{ display: none }

        .switch{
            background: #DA2C15;
            border: 2px solid #fff;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            font-size: 1.4em;
            height: 50px;
            left: -25px;
            line-height: 50px;
            position: absolute;
            text-align: center;
            top: -25px;
            width: 50px; }

            .switch:hover{
                background: rgba(0, 0, 0, 0.8); }

    #gmap{
        height: 100%;
        left: 0;
        position: fixed !important;  /* Acts in pretty much the same way as background-attachment: fixed for an image background */
        top: 0;
        width: 100%;
        z-index: 1; } /* Has to be at least one increment smaller in value than the container's z-index */

    #container{
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        border: 3px solid #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        margin: 0 auto;
        overflow: visible !important;
        padding: 40px;
        position: relative;
        top: 100px;
        width: 800px;
        z-index: 2; } /* Has to be at least one increment larger in value than the Google Maps iframe z-index */
        
