<p id="notice"><%= notice %></p>

<p>
  <strong>Image link:</strong>
  <%= @badge.image_link %>
</p>

<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @badge.value %>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
