<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-4">
  <div class="box">
<form class="form-horizontal" role="form" >

  <div class="form-group">
    <%= f.label :email ,class: 'col-sm-2 control-label'%>
    </div>
    <div class="col-sm-10">
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group ,class: 'col-sm-2 control-label'">
    <%= f.label :bg %><br>
    <%= f.text_field :bg, class: "form-control"  %>
  </div>
  <div class="form-group",class: 'col-sm-2 control-label>
    <%= f.label :phone %><br>
    <%= f.number_field :phone, class: "form-control"  %>
  </div>
  <div class="form-group",class: 'col-sm-2 control-label>
    <%= f.label :address %><br>
    <%= f.text_field :address , class: "form-control" %>
  </div>
  <div class="form-group",class: 'col-sm-2 control-label>
    <%= f.submit %>

  </div>
</form>
</div>
</div>
<% end %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
