    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

<link rel='stylesheet' id='sharedaddy-css'  href='../assets/css/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='sharedaddy-css'  href='../assets/css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='sharedaddy-css'  href='../assets/css/font-awesome.css' type='text/css' media='all' />
<link rel='stylesheet' id='sharedaddy-css'  href='../assets/css/font-awesome.min.css' type='text/css' media='all' />

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b><span class="glyphicon glyphicon-plus"></span>BloodSeeker</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
			        <ul class="dropdown-menu">
                <li><%= link_to 'Edit Profile',  edit_user_path(current_user) %></li>

			          <li class="divider"></li>
                                <li>    <%= link_to "Sign out", signout_path, id: "sign_out" %>  </li>

			        </ul>
			      </li>
          </ul>
        </div>
      </div>
    </div>

<h1>New user</h1>

<%= render 'form' %>

