<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">


    <title>User Account</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <%= render 'layouts/navbar' %>
<p id="notice"><%= notice %></p>
    
    <div class="row" >
    	<div class="col-md-8">
    		<div class="box" style="padding-left:40px; height:250px" >
    			<div class="container-fluid">
    				<div class="row-fluid">
	    				<div class="col-md-4"> 
<a href="http://facebook.com/<%= @user.uid %>">	<img class="img-thumbnail" src="http://graph.facebook.com/<%= @user.uid %>/picture?width=140&height=150" alt=""> </a>
	    				</div>
	    				<div class="col-md-4" height="800px"> 
	    					<h2><%= @user.name %></h2>
	    					<h4>BLOOD TYPE : <%= @user.bg %></h4>
	    					<h4>Contact : <%= @user.phone %></h4>
	    					<h4>Location :<%= @user.address %></h4>
	    	</div>
	    				<div class="col-md-4" style="height:-20px;"> 
	    					

	    				</div>

    				</div>
    			</div>
    		</div>
    	</div>

    
    		<div class="col-md-4">
    			<div class="box" style="height:800px">
    						

    				 <div class="well">
                    
                            <h2>BADGES</h2>
                            <% @user.badges.each do |b| %>
                              <img class="img-thumbnail" src="<%= b.image_link %>" alt="">
	    					          <a href="#"><h4><%= b.name %></h4></a>
                          <% end %>
	    					         
                    
                	</div>	
                	 <div class="well">
                            <h2>Your Points: <b><%= @user.points %></b></h2>
	    				    </div>	
                <div class="well">
                            <h2>Available for Redeem: <b><%= @user.redeemable %></b></h2>
                  </div>  
    			</div>
    		</div>
    </div>

    <div class="row">
    	<div class="col-md-8">
    		<div class="box" style="margin-top:-500px">
    			<div class="well">
                    
                        <table class="table">
                              <thead>
                              <tr>
                                
                                <th>Blood Donate History</th>
                                
                              </tr>
                                </thead>
                            
                             <tbody>
                                                              <% @user.seeks.each do |s| %>

                              <tr>
                                <td>    <%= link_to "To "+s.patient_name.to_s+" on "+s.updated_at.to_s, seek_path(s) %></td> 
                              </tr>
                                                              <% end %>

                                 </tbody>
                        </table>    
                        <table class="table">
                              <thead>
                              <tr>
                                
                                <th>Blood Seek History</th>
                                
                              </tr>
                                </thead>
                            
                             <tbody>
                                <% t = Seek.where(user_id:current_user.id) %>
                                <% t.each do |s| %>
                              <tr>
                                <td>    <%= link_to s.updated_at, seek_path(s) %></td> 
                              </tr>
                                <% end %>
                                 </tbody>
                        </table>    
            	</div>
    		</div>
    	</div>
    </div>

    

	
	
	
	
	
	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
  </body>
</html>
