<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">


    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!-- Fixed navbar -->
        <%= render 'layouts/navbar' %>


    <div class="row">
    	<div class="col-md-8">
    		<div class="box" style="padding-left:40px;height:150px;">
    			<div class="container-fluid">
    				<a  href="/seeks/new"><button type="button" class="btn btn-danger btn-lg btn-block">Find Blood</button></a>
            <center><h4>Search for donor's around you.</h4></center>
    			</div>
    		</div>
    	</div>

    
    		<div class="col-md-4">
    			<div class="box" style="height:800px">
    						

    				 <div class="well">
                    
                            <h2>Leaderboard</h2>
	    				<table class="table table-hover">
                            
                            <tbody>
                              <th>#</th>
                              <th></th>
                              <th>Points</th>
                              <% User.all.order(points: :desc).each_with_index do |u,i|%>
                                <tr>
                                <td><%= i+1 %></td>
                                <td><%= link_to u.name,  user_path(u) %></td>
                                <td><%= u.points %></td>
                                </tr>
                                <% end %>
                              
                            </tbody>
                          </table>         
                    
                	</div>	
                	
    			</div>
    		</div>
    </div>

    <div class="row">
    	<div class="col-md-8">
    		<div class="box" style="margin-top:-600px;height:1000px">
        <h2>SEEKERS</h2>

                <ol class="breadcrumb">
                Sort by :    
                  <li><a href="?time=true">Time</a></li>
                  <li><a href="?dist=true">Distance</a></li>
                  <li class="active"></li>
                </ol>

<hr>

<%# debug(params) %>
<% if params[:dist] == 'true' %>
                             

<% else %>
 <% Seek.all.order(created_at: :desc).each do |s|%>

          <div class="well">
              <li class="active">
               <a href="/seeks/<%= s.id %>"><%= s.patient_name %></a>
                 <a href="https://www.facebook.com/sharer/sharer.php?u=<%= seek_url(s)%>" %> <button type="button" class="btn btn-default btn-xs pull-right" style="margin-left:70px;"><i class="fa fa-facebook"></i>Share</button> </a>
                 <span class="label label-danger pull-right" style="margin:5px;"><%= s.country %></span>
                 <span class="label label-default pull-right" style="margin:5px;"><%= s.address %></span>
                 
              </li>

            </div>
                                <% end %>

<% end %>


    		  </div>
    	</div>
    </div>

    
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
